@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--vt-primary);
  transition: 0.4s;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.heading-title {
  margin: 0 0 30px;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

// Buttons
.btn {
  $self: &;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;

  &--primary {
    background-color: var(--vt-primary);
    color: #fff;

    &#{$self} {
      &--outline {
        border-color: var(--vt-primary);
        color: var(--vt-primary);

        &:hover {
          background-color: var(--vt-primary);
          border-color: var(--vt-primary);
          color: #fff;
        }
      }
    }

    &:hover {
      background-color: darken(hsla(160, 100%, 37%, 1), 8%);
    }
  }

  &--danger {
    &#{$self} {
      &--outline {
        border-color: var(--vt-danger);
        color: var(--vt-danger);

        &:hover {
          background-color: var(--vt-danger);
          border-color: var(--vt-danger);
          color: #fff;
        }
      }
    }
  }
}
